
<div style="position: relative; display: flex; justify-content: center; align-items: center; text-align: center;">
  <%= image_tag "allimg/small.jpg", width: "auto", height: "auto", style: "max-width: 100%; height: auto;" %>
  <div style="position: absolute; top: 15%; left: 0; width: 100%; height: 100%;">
    <%= form_tag('/submit_form', method: 'post', style: "color: black;") do %>
        <%= form_tag('/submit_form', method: 'post') do %>
  <fieldset>
    <legend><h2>Service</h2></legend>
    <input type="radio" name="sign" id="aquarius" value="aquarius">
    <label for="aquarius">Boarding In Sitters Home</label>
    <input type="radio" name="sign" id="pisces" value="pisces">
    <label for="pisces">House Sitting</label>
    <input type="radio" name="sign" id="gemini" value="gemini">
    <label for="gemini">Drop in Visits </label>
  </fieldset>
  <br>
  <div>
    <label for="dob">Drop Off</label>
    <input type="date" name="dob" id="dob">
    <label for="edod">Pick up</label>
    <input type="date" name="edod" id="edod">
  </div>
  <br>
  <div>
    <input type="checkbox" id="dog" name="animal_type" value="dog">
    <label for="dog">Dog</label>
    <input type="checkbox" id="cat" name="animal_type" value="cat">
    <label for="cat">Cat</label>
  </div>
  <br>
  <div>
    <label for="costmaxmin">Rate per night! $1 to $250</label>
    <input type="range" name="costmaxmin" id="costmaxmin" min="10" max="250" step="5">
  </div>
  <br>
  <fieldset>
    <legend>Housing Features</legend>
    <div>
      <input type="checkbox" id="scales" name="scales" />
      <label for="scales">Has House (excludes Apartment)</label>
    </div>
    <div>
      <input type="checkbox" id="horns" name="yard" />
      <label for="horns">Has Fenced yard </label>
    </div>
  </fieldset>
  <br>
  <fieldset>
    <legend>Pets at home</legend>
    <div>
      <input type="checkbox" id="no-dog" name="no_dog" />
      <label for="no-dog">Doesn't own a dog</label>
    </div>
    <div>
      <input type="checkbox" id="no-cat" name="no_cat" />
      <label for="no-cat">Doesn't own a cat</label>
    </div>
    <div>
      <input type="checkbox" id="one-client" name="one_client" />
      <label for="one-client">Accepts Only one client at a time </label>
    </div>
    <div>
      <input type="checkbox" id="non-neutered-dogs" name="non_neutered_dogs" />
      <label for="non-neutered-dogs">Accepts non neutered male dogs</label>
    </div>
  </fieldset>
  <br>
  <input type="submit" name="submit" id="submit" value="Submit">
<% end %>

    <% end %>
  </div>
  <%# <div style="position: absolute; color: yellow; font-size: 24px; font-weight: bold; bottom: 100px;">
    <h2>Become a Member </h2>
    <h3>Get Paid to Play with Pets</h3>
    <h5 style="color: white;">Wooffin makes it easy and promotes you to the world’s largest network of pet parents.</h5>
    <%= link_to "Get Started", new_member_path %>
  <%# </div> %>
</div>



