
<div style="position: relative; display: flex; justify-content: center; align-items: center; text-align: center;">
  <%= image_tag "allimg/blackandwhite.jpg", width: "auto", height: "auto", style: "max-width: 100%; height: auto;" %>
  <div style="position: absolute; color: yellow; font-size: 24px; font-weight: bold; top: 55%;">
        <h3>Get Paid to Play with Pets</h3>
        <h5 style="color: White">Wooffin makes it easy and promotes you to the world’s largest network of pet parents.</h5>
        <a <%= link_to "Get Started", new_member_path%></a>
  </div>
</div>




